/* Site Color Variables */
:root {
    --dark-blue: rgba(68,88,119,1);
    --light-blue: rgba(146,204,206,1);
    --dark-gray: rgba(49,52,61,1);
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
}

/* Header Styling */
header {
        padding: 15px 6% 15px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        background-color: var(--dark-gray);
        box-shadow: 0 5px 35px rgb(51, 89, 203);
    }
    
    header h1 {
        color: var(--dark-gray);
        background-color: var(--light-blue);
        padding: 5px 1% 5px 5%;
        margin: 0;
        font-size: 3vw;
        line-height: 1;
    }
    
    
    /* Navbar Styling */
    nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
      
    nav a {
        text-decoration: none;
        padding: 5px 10px;
        margin-right: 10px;
        color: var(--light-blue);
        background-image: linear-gradient(270deg, var(--light-blue) 0%, var(--light-blue) 100%);
        background-repeat: no-repeat;
        background-size: 100% 0.2em;
        background-position: bottom;
        transition: all 0.25s ease-in;
        font-size: 3vw;
    }
    
    nav a:hover {
        background-size: 100% 100%;
        color: var(--dark-blue);
    }
    
    nav a:last-child {
        margin-right: 0;
    }

    /* Hero Image Styling */
    .hero-image {
        background: var(--dark-blue);
        background-image: url("../images/lion.jpg"), linear-gradient(90deg, var(--secondary) 0%, var(--primary) 100%);
        background-size: cover;
        background-position: center;
        background-blend-mode: soft-light;
        min-height: 30vh;
        color: var(--light);
        padding: 2% 6%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
        padding-left: 10vw;
    }

    .hero-image img {
        width: 150px;
        margin: 20px;
        border-radius: 10%;
        opacity: 0.8;
    }

    .hero-image img:hover{
        opacity: 1;
    }
    
    .hero-image div {
        flex: 0 0 90%;
    }
    
    .hero-image h2 {
        background-color: var(--light-blue);
        color: var(--dark-gray);
        margin: 0;
        padding: 5px 10px;
        font-size: 5vw;
        line-height: 1.2;
        display: inline;
    }

/* Main Section Styling */

main {
    margin-top: 20px;
    margin-bottom: 45px;
}